<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/stu/form2/" method="post">
    {% csrf_token %}
    <p>
{#      寻找错误，删除默认格式  {{ stu_from.errors.sname|striptags }}#}
        <label id="{{ stu_from.sname.id_for_label }}">{{ stu_from.sname.label }}:</label>{{ stu_from.sname }} <span>{{ stu_from.errors.sname|striptags }}</span>
    </p>
    <p>
        <label id="{{ cls_from.cname.id_for_label }}">{{ cls_from.cname.label }}:</label>{{ cls_from.cname }} <span>{{ cls_from.errors.cname|striptags }}</span>
    </p>
    
    
    <input type="submit" value="注册">
</form>

</body>
</html>